@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Instrument Sans', sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: #800020;
    color: #fff;
    padding: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar a:hover{
    color: #fff;
}

.logo {
    width: 150px;
    height: 70px;
    background-image: url(./images/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar a {
    color: #fff;
    font-weight: 500;
}
.nav-item a{
    color: #fff;
}
.nav-item a:hover {
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 5px;
}

.dropdown-item {
    display: block;
    width: 100%;
    /* padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x); */
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    /* background-color: transparent; */
    border: 0;
}

.dropdown-item a {
    color: aqua;
    background-color: yellow;
}

.hero {
    height: 85vh;
    background-color: #f4f6f8;
    background-image: url(./images/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 0 7%;
    width: 50%;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
}

.sermon {
    height: 85vh;

    background-image: url(./images/sermon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sermon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 0 7%;
    width: 50%;
    color: #fff;
}

.dropdown-menu {
    background-color: #800020;
}



/* CSS */
.button-33 {
    background-color: #800020;

    padding: 20px 35px;
    border: none;
    border-radius: 10px;
}

.button-33 a {
    color: #fff;
    text-decoration: none;
}

.button-33:hover {
    transform: scale(1.05) rotate(-1deg);
}

.home-box- {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 7%;
    margin-top: 50px;
    border-radius: 5px;
    border: 15px solid #eee;
}

.le {
    padding-left: 5%;
}

.box {
    width: 95%;
    padding-block: 30px;
}

.btn-sermon {
    color: #fff;
    text-decoration: none;
    background-color: #800020;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.btn-sermon a {
    color: #fff;
    text-decoration: none;
}

.btn-sermon:hover {
    box-shadow: rgba(250, 33, 33, 0.35) 0 -25px 18px -14px inset, rgba(142, 7, 7, 0.25) 0 1px 2px, rgba(187, 73, 44, 0.25) 0 2px 4px, rgba(187, 44, 44, 0.25) 0 4px 8px, rgba(187, 44, 44, 0.25) 0 8px 16px, rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.dona {
    background-image: url(./images/donation-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 5%;
    padding-block: 30px;
    text-shadow: .1em .1em 0 hsl(60, 3%, 19%);
}


.about-home- {
    background-color: #eee;
    margin-top: 50px;
    padding: 0 7%;
    padding-block: 40px;
}

.church {
    background-image: url(./images/church.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gallery {
    margin-top: 50px;
}

.gallery- {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    padding: 0 7%;
}

.one-,
.two-,
.three-,
.four- {
    height: 250px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 10px;
}

.one- {
    background-image: url(./images/one-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two- {
    background-image: url(./images/two-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three- {
    background-image: url(./images/three-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.four- {
    background-image: url(./images/four-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event- {
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 80vh; */
    margin-top: 50px;
}

.event- h1 {
    color: #fff;
    padding-top: 50px;
    text-shadow: .1em .1em 0 hsl(60, 3%, 19%);
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;
    padding-block: 20px;
}

.event-one {
    width: 95%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-image: url(./images/event-one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.e-one {
    background-image: url(./images/event-one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.e-two {
    background-image: url(./images/event-two.jpg);
}

.e-three {
    background-image: url(./images/event-three.jpg);
}

.event-text {
    /* position: absolute; */
    bottom: 0;

}

.yt {
    margin-top: 50px;
}

.youtube {
    padding: 0 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

footer {
    padding: 0 7%;
    padding-top: 40px;
    margin-top: 50px;
    background-color: #800020;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.ft-logo {
    height: 200px;
    width: 100%;
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer h3 {
    color: #f4f6f8;
    font-weight: 600;
}

footer a {
    line-height: 2;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    font-weight: 600;
    color: #fff;
}

.cta {
    margin: 0 20%;
    background-color: #eee;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.yt- {
    margin-bottom: 20px;
    width: 90% !important;
}

iframe {
    border: 20px solid #eee;
    width: 95%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    align-items: flex-start;
}

@media only screen and (max-width: 1200px) {
    .hero-text {
        width: 100%;
    }

    .home-box- {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .le {
        padding-left: 5%;
    }

    .dona {
        width: 100%;
    }

    .you {
        padding-left: 5%;
    }

    .gallery- {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .one-,
    .two-,
    .three-,
    .four- {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .one- img {
        display: block;
        width: 100%;
        margin: 0 auto;

    }

    .event-,
    .event {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .event- {
        display: none;
    }

    .event {
        display: none;
    }

    .cta {
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
        padding: 5%;
    }

    .sermon-text {
        width: 100%;
    }

    .yt- {
        display: block;

        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .yt- iframe {
        display: block;

        width: 100%;
        margin: 0 auto;
    }

    .youtube {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .about-home- {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .about-home-text {
        display: block;
        width: 100%;
    }

    .church {
        display: block;
        width: 100%;
    }

    .footer {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-block: 20px;
    }

    .ft {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-block: 20px;
        text-align: center;
    }
}